repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
        name: Check Yaml
        description: This hook checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
      - id: detect-private-key
        name: Detect Private Key
        description: Detects the presence of private keys
        entry: detect-private-key
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: fix-encoding-pragma
        name: Fix python encoding pragma
        language: python
        entry: fix-encoding-pragma
        description: "Add # -*- coding: utf-8 -*- to the top of python files"
        types: [python]
      - id: mixed-line-ending
        name: Mixed line ending
        description: Replaces or checks mixed line ending
        entry: mixed-line-ending
        language: python
        types: [text]

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: "" # Use the sha / tag you want to point at
  #   hooks:
  #     - id: mypy
  #       exclude: (versioneer.py|_version.py|^docs/)


  -   repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
      -   id: black
          language_version: python3
          name: black
          exclude: versioneer.py|pyepal/_version.py|^docs/
          entry: black
          types: [python]

  -   repo: https://github.com/pre-commit/mirrors-isort
      rev: 'v5.6.4'  # Use the revision sha / tag you want to point at
      hooks:
      -   id: isort
          name: isort
          language: system
          exclude: versioneer.py|pyepal/_version.py|^docs/
          types: [python]
          entry: isort

  - repo: local
    hooks:
      - id: pylint
        language: system
        types: [file, python]
        exclude: versioneer.py|pyepal/_version.py|^docs|pyepal/pal/_hypervolume.py|pyepal/models/coregionalized.py/tests
        name: pylint
        entry: pylint
